<h1 class="font-bold text-4xl mb-10">Sign up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'flex flex-col gap-5 mb-5 items-start' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'border border-black p-2 rounded-lg cursor-pointer hover:opacity-60' %>
  </div>
<% end %>

<%
=begin%>
 <%= render "devise/shared/links" %> 
<%
=end%>
