<h1 class="font-bold text-4xl mb-10 text-center"><%= @recipe.name %></h1>
<div class="grid grid-cols-2 gap-y-4 mb-10 justify-items-start">
  <h4 class="text-3xl">Preparation time: <span><%= @recipe.preparation_time %> minutes</span></h4>
  <div class="row-span-2 justify-self-center text-xl">This recipe is <span class="font-bold"><%= @recipe.public ? 'public' : 'Private' %></span></div>
  <h4 class="text-3xl mb-10">Cooking time: <span><%= @recipe.cooking_time %> minutes</span></h4>
  <%= link_to "Generate shopping list", new_food_path, class: 'border border-black p-2 rounded-lg cursor-pointer hover:opacity-60' %>
  <%= link_to "Add ingredient", new_food_path, class: 'border border-black p-2 rounded-lg cursor-pointer justify-self-end hover:opacity-60' %>
</div>
<% if @recipe.foods.present? %>
  <table class="table-auto w-full text-left mb-10 text-lg">
    <thead class="bg-gray-400">
      <tr class="h-10">
        <th class="p-4">Food</th>
        <th class="p-4">Measurement Unit</th>
        <th class="p-4">Value</th>
        <th class="p-4">Actions</th>
      </tr>
    </thead>
    <tbody class="bg-gray-300 p-20">
      <% @recipe.foods.each do |food| %>
        <tr class="h-16">
          <td class="p-4"><%= food.name %></td>
          <td class="p-4"><%= food.measurement_unit %></td>
          <td class="p-4"><%= food.price %></td>
          <td class="p-4">Modify Delete</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<p><%= @recipe.description %></p>
