<h1 class="font-bold text-4xl mb-10">Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'flex flex-col gap-5 mb-5 items-start' }) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: 'border border-black p-2 rounded-lg cursor-pointer hover:opacity-60' %>
  </div>

  <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'hover:opacity-60' %>
<% end %>

<%
=begin%>
 <%= render "devise/shared/links" %> 
<%
=end%>
