<div>
<h1>Foods</h1>
<button>
    <%= link_to 'Add New Food', new_food_path%>
</button>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>measurement units</th>
        <th>Actions</th>
    </tr>
    <% @foods.each do |food| %>
        <tr>
        <td><%= food.name %></td>
        <td><%= food.price %></td>
        <td><%= food.measurement_unit %></td>
        <td> 
           <% if can? :destroy, food %> 
            <%= button_to "Delete", food_path(food.id ), :method => :delete %> 
          <% end %>
        </td>
        </rt>
    <% end %>
</table>
</div>

